.create-a-react-table-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.create-a-react-table-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.create-a-react-table-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.create-a-react-table-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.create-a-react-table-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.create-a-react-table-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.create-a-react-table-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.create-a-react-table-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.create-a-react-table-login {
  margin-right: 32px;
}
.create-a-react-table-burger-menu {
  display: none;
}
.create-a-react-table-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.create-a-react-table-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.create-a-react-table-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-a-react-table-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.create-a-react-table-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-a-react-table-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.create-a-react-table-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.create-a-react-table-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.create-a-react-table-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.create-a-react-table-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.create-a-react-table-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.create-a-react-table-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.create-a-react-table-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.create-a-react-table-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.create-a-react-table-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.create-a-react-table-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-a-react-table-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.create-a-react-table-hero-heading {
  max-width: 800px;
  text-align: center;
}
.create-a-react-table-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.create-a-react-table-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.create-a-react-table-gallery {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-a-react-table-gallery1 {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.create-a-react-table-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1680678609628-807ab6fef5cf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwOTQxNTIyMHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.create-a-react-table-container02:hover {
  transform: scale(0.98);
}
.create-a-react-table-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.create-a-react-table-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1586748619382-f12d59a75284?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwOTQxNTIyMHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.create-a-react-table-container04:hover {
  transform: scale(0.98);
}
.create-a-react-table-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.create-a-react-table-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1633544861850-e12ddebcd834?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwOTQxNTIyMHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.create-a-react-table-container06:hover {
  transform: scale(0.98);
}
.create-a-react-table-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1580136608260-4eb11f4b24fe?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwOTQxNTIyMHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.create-a-react-table-container07:hover {
  transform: scale(0.98);
}
.create-a-react-table-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1655553526244-0c857e2bd4a3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwOTQxNTIyMHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.create-a-react-table-container08:hover {
  transform: scale(0.98);
}
.create-a-react-table-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1559474499-677ff6a22e31?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwOTQxNTIyMXw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.create-a-react-table-container09:hover {
  transform: scale(0.98);
}
.create-a-react-table-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-a-react-table-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.create-a-react-table-container10 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.create-a-react-table-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.create-a-react-table-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.create-a-react-table-container11 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.create-a-react-table-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-a-react-table-banner-heading {
  text-align: center;
}
.create-a-react-table-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.create-a-react-table-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-a-react-table-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.create-a-react-table-container12 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.create-a-react-table-text48 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.create-a-react-table-text49 {
  text-align: left;
}
.create-a-react-table-container13 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-a-react-table-footer {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 991px) {
  .create-a-react-table-hero1 {
    flex-direction: column;
  }
  .create-a-react-table-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .create-a-react-table-hero-heading {
    text-align: center;
  }
  .create-a-react-table-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .create-a-react-table-gallery1 {
    grid-gap: var(--dl-space-space-unit);
  }
  .create-a-react-table-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .create-a-react-table-banner-sub-heading {
    max-width: 100%;
  }
  .create-a-react-table-text49 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .create-a-react-table-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .create-a-react-table-desktop-menu {
    display: none;
  }
  .create-a-react-table-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .create-a-react-table-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .create-a-react-table-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .create-a-react-table-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .create-a-react-table-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .create-a-react-table-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .create-a-react-table-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .create-a-react-table-gallery1 {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .create-a-react-table-container03 {
    height: 220px;
  }
  .create-a-react-table-container05 {
    height: 220px;
  }
  .create-a-react-table-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .create-a-react-table-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .create-a-react-table-container11 {
    grid-template-columns: 1fr;
  }
  .create-a-react-table-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .create-a-react-table-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .create-a-react-table-faq1 {
    flex-direction: column;
  }
  .create-a-react-table-container12 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .create-a-react-table-text49 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .create-a-react-table-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .create-a-react-table-mobile-menu1 {
    padding: 16px;
  }
  .create-a-react-table-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .create-a-react-table-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .create-a-react-table-btn-group {
    flex-direction: column;
  }
  .create-a-react-table-gallery1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .create-a-react-table-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .create-a-react-table-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
