.main-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-100);
}
.main-page-main {
  width: 100%;
  height: 1085px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.main-page-video {
  top: 0px;
  width: auto;
  height: auto;
  position: absolute;
  min-width: 100%;
  min-height: 1000px;
}
.main-page-text {
  top: 433px;
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 128px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.main-page-catalog {
  width: 100%;
  height: 958px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}
.main-page-container1 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: 2.5%;
  background-image: radial-gradient(circle at center bottom, rgb(0, 0, 0) 0.00%,rgb(33, 33, 33) 53.00%,rgb(0, 0, 0) 100.00%);
}
.main-page-album {
  width: 100%;
  height: 920px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.main-page-left-button {
  top: -8px;
  flex: 0 0 auto;
  left: 0px;
  width: 158px;
  height: 100%;
  margin: auto;
  display: flex;
  opacity: 1;
  position: absolute;
  align-items: flex-start;
}
.main-page-button {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 64px;
  bottom: 0px;
  height: 64px;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(255, 255, 255);
}
.main-page-button:hover {
  opacity: 1;
  box-shadow: 5px 5px 10px 5px #000000;
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-right-button {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 158px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-page-button1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 64px;
  bottom: 0px;
  height: 64px;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(255, 255, 255);
}
.main-page-button1:hover {
  opacity: 1;
  box-shadow: 5px 5px 10px 5px #000000;
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-center-element {
  top: 48px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 25%;
  height: 95%;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-center-element:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-image {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px 15px #000000;
  object-fit: cover;
}
.main-page-container2 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100px;
  display: flex;
  opacity: 0.85;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  background-color: #000000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.main-page-text07 {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 80%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  font-size: 3rem;
  text-align: center;
  font-family: "Arial";
  line-height: 2;
}
.main-page-left-element {
  top: 107px;
  flex: 0 0 auto;
  left: 15%;
  width: 20%;
  height: 680px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-left-element:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-image1 {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px 10px #000000;
  object-fit: cover;
}
.main-page-container3 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 85px;
  display: flex;
  opacity: 0.85;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  background-color: #000000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.main-page-text11 {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 80%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Arial";
  line-height: 2;
}
.main-page-right-element {
  top: 107px;
  flex: 0 0 auto;
  right: 15%;
  width: 20%;
  height: 75%;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 10px #000000;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-page-right-element:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-container4 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 85px;
  display: flex;
  opacity: 0.85;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  background-color: #000000;
}
.main-page-text14 {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 80%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Arial";
  line-height: 2;
}
.main-page-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-page-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.main-page-button2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 64px;
  bottom: 0px;
  height: 64px;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(255, 255, 255);
}
.main-page-button2:hover {
  opacity: 1;
  box-shadow: 5px 5px 10px 5px #000000;
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-button3 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 64px;
  bottom: 0px;
  height: 64px;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(255, 255, 255);
}
.main-page-button3:hover {
  opacity: 1;
  box-shadow: 5px 5px 10px 5px #000000;
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 900ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.main-page-image3 {
  height: 2rem;
  object-fit: cover;
}
.main-page-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-page-workshop {
  flex: 0 0 auto;
  width: 100%;
  height: 1080px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-image: radial-gradient(circle at center top, rgb(0, 0, 0) 0.00%,rgb(0, 0, 0) 50.00%,rgb(170, 167, 167) 99.00%);
}
.main-page-text24 {
  top: var(--dl-space-space-twounits);
  left: 0px;
  color: var(--dl-color-gray-white);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.main-page-form {
  gap: var(--dl-space-space-oneandhalfunits);
  right: 7.5%;
  width: 605px;
  bottom: 15%;
  height: 235px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 25px #000000;
  flex-direction: column;
  background-image: radial-gradient(circle at center, rgb(33, 33, 33) 0.00%,rgb(0, 0, 0) 77.00%);
}
.main-page-textinput {
  height: var(--dl-size-size-small);
}
.main-page-textinput1 {
  height: var(--dl-size-size-small);
}
.main-page-button4 {
  color: var(--dl-color-gray-white);
  height: var(--dl-size-size-small);
  align-self: flex-end;
  border-width: 0px;
  background-color: var(--dl-color-gray-100);
}
.main-page-container6 {
  gap: var(--dl-space-space-sixunits);
  top: 10%;
  left: 1.5%;
  width: 40%;
  height: 70%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-text28 {
  color: var(--dl-color-gray-white);
  width: 800px;
  height: var(--dl-size-size-medium);
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  box-shadow: rgb(0, 0, 0) 5px 5px 10px 15px;
  text-align: justify;
  background-image: radial-gradient(circle, rgb(33, 33, 33) 0%, rgb(0, 0, 0) 77%);
}
.main-page-text31 {
  color: rgb(255, 255, 255);
  width: 700px;
  height: var(--dl-size-size-medium);
  padding: var(--dl-space-space-unit);
  font-size: 32px;
  align-self: flex-end;
  box-shadow: rgb(0, 0, 0) 5px 5px 10px 15px;
  font-style: italic;
  text-align: justify;
  font-family: "Arial";
  font-weight: 700;
  line-height: 1.5;
  background-image: radial-gradient(circle, rgb(33, 33, 33) 0%, rgb(0, 0, 0) 77%);
}
.main-page-text34 {
  color: var(--dl-color-gray-white);
  width: 1000px;
  height: var(--dl-size-size-medium);
  opacity: 1;
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  box-shadow: 5px 5px 10px 15px #000000;
  text-align: justify;
  background-image: radial-gradient(circle at center, rgb(33, 33, 33) 0.00%,rgb(0, 0, 0) 77.00%);
}
.main-page-news {
  width: 100%;
  height: 1336px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.main-page-text37 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 64px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-twounits);
}
.main-page-blog {
  top: 143px;
  left: 0px;
  right: 0px;
  width: 1492px;
  height: 1161px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.main-page-container7 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.main-page-container8 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.main-page-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.main-page-text38 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
}
.main-page-text39 {
  color: var(--dl-color-gray-white);
}
.main-page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.main-page-icon08 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.main-page-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
@media(max-width: 1600px) {
  .main-page-main {
    height: 899px;
  }
  .main-page-video {
    opacity: 0.5;
    min-height: 500px;
  }
  .main-page-text {
    top: 362px;
  }
  .main-page-catalog {
    height: 1025px;
  }
  .main-page-left-element {
    left: 136px;
  }
  .main-page-right-element {
    top: 107px;
    right: 136px;
    position: absolute;
  }
  .main-page-text24 {
    top: var(--dl-space-space-fiveunits);
  }
  .main-page-form {
    right: 116px;
    bottom: 86px;
    height: 224px;
  }
  .main-page-container6 {
    top: 221px;
    left: 51px;
    width: 1034px;
  }
  .main-page-text28 {
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .main-page-text31 {
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .main-page-text34 {
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .main-page-text37 {
    padding-top: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 1200px) {
  .main-page-main {
    height: 725px;
  }
  .main-page-video {
    width: 1199px;
    height: 759px;
  }
  .main-page-text {
    top: 300px;
  }
  .main-page-catalog {
    height: 908px;
  }
  .main-page-button {
    left: 0px;
    right: 0px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25%;
  }
  .main-page-button1 {
    bottom: 0px;
    margin-bottom: 25%;
  }
  .main-page-center-element {
    width: 35%;
    height: 80%;
  }
  .main-page-left-element {
    left: 0.5%;
    width: 29.75%;
    height: 68%;
  }
  .main-page-right-element {
    right: 0.5%;
    width: 29.75%;
    height: 68%;
  }
  .main-page-button2 {
    left: 0px;
    right: 0px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25%;
  }
  .main-page-button3 {
    left: 0px;
    right: 0px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25%;
  }
  .main-page-workshop {
    border-radius: 0px;
    flex-direction: column;
  }
  .main-page-form {
    right: 47px;
    bottom: -14px;
  }
  .main-page-container6 {
    top: 210px;
    left: 51px;
    width: 947px;
    height: 649px;
    position: absolute;
  }
  .main-page-text28 {
    width: 800px;
    height: var(--dl-size-size-large);
    text-align: left;
  }
  .main-page-text31 {
    color: var(--dl-color-gray-white);
    width: 850px;
    height: var(--dl-size-size-large);
    font-size: 30px;
    text-align: left;
    background-color: rgba(33, 33, 33, 0.77);
  }
  .main-page-text34 {
    width: 900px;
    height: var(--dl-size-size-large);
    text-align: left;
  }
  .main-page-blog {
    width: 1199px;
  }
}
@media(max-width: 991px) {
  .main-page-main {
    height: 718px;
  }
  .main-page-text {
    top: 321px;
  }
  .main-page-catalog {
    height: 1856px;
  }
  .main-page-blog {
    width: 987px;
  }
}
@media(max-width: 767px) {
  .main-page-main {
    height: 722px;
  }
  .main-page-video {
    width: 766px;
    min-height: 200px;
  }
  .main-page-text {
    top: 314px;
    color: var(--dl-color-gray-white);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
  }
  .main-page-catalog {
    height: 1872px;
  }
  .main-page-left-button {
    display: none;
  }
  .main-page-button {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .main-page-right-button {
    display: none;
  }
  .main-page-button1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .main-page-center-element {
    width: 85%;
  }
  .main-page-left-element {
    display: none;
  }
  .main-page-right-element {
    display: none;
  }
  .main-page-container5 {
    top: 90%;
    left: 0px;
    display: block;
    position: absolute;
  }
  .main-page-button2 {
    left: 70%;
    margin: auto;
  }
  .main-page-button3 {
    left: -70%;
    right: 0px;
    margin: auto;
  }
  .main-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-text23 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .main-page-container6 {
    width: 766px;
  }
  .main-page-text28 {
    width: 700px;
  }
  .main-page-text31 {
    width: 700px;
  }
  .main-page-text34 {
    width: 700px;
  }
  .main-page-news {
    height: 2364px;
  }
  .main-page-blog {
    width: 743px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-text39 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .main-page-main {
    height: 672px;
  }
  .main-page-video {
    width: 478px;
    height: 100%;
    min-height: 200px;
  }
  .main-page-text {
    top: 309px;
    color: var(--dl-color-gray-white);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
  }
  .main-page-catalog {
    height: 1478px;
  }
  .main-page-container5 {
    top: 90%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 12%;
    margin: auto;
    display: block;
    position: absolute;
  }
  .main-page-button2 {
    left: -70%;
    padding: 0px;
  }
  .main-page-button3 {
    left: 70%;
    padding: 0px;
  }
  .main-page-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .main-page-image3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text23 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-form {
    left: 49px;
    width: 397px;
    bottom: 0px;
  }
  .main-page-container6 {
    gap: var(--dl-space-space-threeunits);
    left: var(--dl-space-space-halfunit);
    right: var(--dl-space-space-halfunit);
    width: 478px;
    height: 581px;
  }
  .main-page-text28 {
    width: 450px;
    height: var(--dl-size-size-xlarge);
  }
  .main-page-text31 {
    width: 450px;
    height: var(--dl-size-size-xlarge);
  }
  .main-page-text34 {
    width: 450px;
    height: var(--dl-size-size-xlarge);
  }
  .main-page-news {
    height: 2108px;
  }
  .main-page-blog {
    width: 463px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-footer1 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .main-page-text39 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
