.mosaic-one-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: radial-gradient(circle at center, rgb(0, 0, 0) 2.00%,rgb(33, 33, 33) 54.00%,rgb(0, 0, 0) 99.00%);
}
.mosaic-one-page-header {
  width: 100%;
  height: 78px;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.mosaic-one-page-text {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-family: "Arial";
}
.mosaic-one-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mosaic-one-page-text1 {
  top: 25%;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 42px;
  text-align: center;
  font-family: "Arial";
}
.mosaic-one-page-mosaics {
  width: 100%;
  height: 880px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mosaic-one-page-slider {
  width: 70%;
  height: 800px;
  display: inline-block;
  align-self: center;
}
.mosaic-one-page-slider-slide {
  display: flex;
  background-size: 100%;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1698778574083-279be0ac6681?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzU2N3w&ixlib=rb-4.0.3&q=80&w=1100');
}
.mosaic-one-page-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=1100');
}
.mosaic-one-page-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=1100');
}
.mosaic-one-page-slider-pagination {
  display: block;
}
.mosaic-one-page-slider-pagination-bullet {
  background-color: white;
}
.mosaic-one-page-slider-pagination-bullet1 {
  background-color: white;
}
.mosaic-one-page-slider-pagination-bullet2 {
  background-color: white;
}
.mosaic-one-page-slider-button-prev {
  color: white;
}
.mosaic-one-page-slider-button-next {
  color: white;
}
.mosaic-one-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mosaic-one-page-text4 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 30px;
  align-self: center;
  text-align: center;
  font-family: "Arial";
  line-height: 1.5;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.mosaic-one-page-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.mosaic-one-page-text8 {
  color: #ffffff;
  font-size: 24px;
}
@media(max-width: 1600px) {
  .mosaic-one-page-mosaics {
    height: 766px;
  }
  .mosaic-one-page-slider {
    height: 578px;
  }
}
@media(max-width: 1200px) {
  .mosaic-one-page-mosaics {
    height: 643px;
  }
  .mosaic-one-page-slider {
    height: 469px;
  }
}
@media(max-width: 991px) {
  .mosaic-one-page-mosaics {
    height: 526px;
  }
  .mosaic-one-page-slider {
    height: 355px;
  }
}
@media(max-width: 767px) {
  .mosaic-one-page-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mosaic-one-page-mosaics {
    height: 261px;
  }
  .mosaic-one-page-slider {
    height: 228px;
  }
  .mosaic-one-page-text4 {
    color: rgb(255, 255, 255);
    font-size: 36px;
  }
  .mosaic-one-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mosaic-one-page-text8 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .mosaic-one-page-header {
    padding: var(--dl-space-space-unit);
    background-color: #212121;
  }
  .mosaic-one-page-mosaics {
    width: 100%;
    height: 340px;
    margin-top: 5%;
  }
  .mosaic-one-page-slider {
    top: 5%;
    width: 400px;
    height: 400px;
  }
  .mosaic-one-page-slider-slide {
    background-image: url('https://i.pinimg.com/736x/30/5f/ba/305fba4c2fab25a33638103fa5675b19.jpg');
  }
  .mosaic-one-page-container2 {
    height: 692px;
    margin-top: 7%;
  }
  .mosaic-one-page-footer {
    padding: var(--dl-space-space-unit);
    margin-top: 10%;
    flex-direction: column;
  }
  .mosaic-one-page-text8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
