.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
}
.page-container1 {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 0px;
  justify-content: flex-start;
  background-color: #191818;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page-text {
  top: 36px;
  left: 155px;
  color: rgb(255, 255, 255);
  margin: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-family: "Inter";
  font-weight: bold;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  text-transform: uppercase;
  background-color: rgb(25, 24, 24);
}
.page-container2 {
  width: 100%;
  height: 1520px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0px;
  justify-content: center;
}
.page-text1 {
  top: 98px;
  color: rgb(255, 255, 255);
  right: 200px;
  position: absolute;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  background-color: rgb(33, 33, 33);
}
.page-image {
  top: 107px;
  flex: 1;
  left: 200px;
  width: 900px;
  height: 900px;
  position: absolute;
  object-fit: cover;
}
.page-container3 {
  top: 150px;
  flex: 0 0 auto;
  left: 501px;
  width: 917px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1221px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.page-container4 {
  gap: var(--dl-space-space-halfunit);
  left: 200px;
  width: 900px;
  bottom: 220px;
  height: 323px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-image1 {
  width: 200px;
  height: 200px;
  opacity: 0.3;
  align-self: center;
  object-fit: cover;
}
.page-image2 {
  width: 200px;
  height: 200px;
  opacity: 0.3;
  align-self: center;
  object-fit: cover;
}
.page-image3 {
  width: 200px;
  height: auto;
  opacity: 0.3;
  align-self: center;
  object-fit: cover;
  background-size: cover;
  background-image: url("/mosaic/%C3%B0%C2%94%C3%B0%C2%BE%C3%B0%C2%B1%C3%B1%C2%80%C3%B1%C2%8B%C3%B0%C2%BD%C3%B1%C2%8F-200h.jpg");
}
.page-image4 {
  width: 200px;
  opacity: 0.3;
  object-fit: cover;
}
.page-container5 {
  top: 231px;
  flex: 0 0 auto;
  right: 79px;
  width: 680px;
  height: 739px;
  display: block;
  position: absolute;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  justify-content: center;
}
.page-text2 {
  color: var(--dl-color-gray-white);
  font-size: 26px;
  line-height: 1.5;
}
@media(max-width: 1600px) {
  .page-container2 {
    height: 1002px;
  }
  .page-text1 {
    top: var(--dl-space-space-sixunits);
    right: 200px;
    font-size: 65px;
  }
  .page-image {
    top: var(--dl-space-space-sixunits);
    left: 200px;
    width: 580px;
    height: 580px;
  }
  .page-container4 {
    top: 674px;
    left: 200px;
    width: 580px;
    height: 183px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .page-image1 {
    width: 135px;
    height: 135px;
  }
  .page-image2 {
    width: 135px;
    height: 135px;
  }
  .page-image3 {
    width: 135px;
    height: 135px;
  }
  .page-image4 {
    width: 135px;
    height: 135px;
  }
  .page-container5 {
    top: 248px;
    right: 41px;
    width: 731px;
    height: 493px;
    position: absolute;
  }
  .page-text2 {
    font-size: 24px;
  }
}
@media(max-width: 1200px) {
  .page-container2 {
    height: 1300px;
  }
  .page-text1 {
    top: 130px;
    right: 102px;
    margin: auto;
    font-size: 50px;
    text-align: center;
  }
  .page-image {
    top: 130px;
    left: 101px;
    margin: auto;
  }
  .page-container4 {
    top: 708px;
    left: 101px;
    margin: 0px;
  }
  .page-container5 {
    width: 425px;
    height: 888px;
  }
  .page-text2 {
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .page-container2 {
    height: 1621px;
  }
  .page-text1 {
    top: 100px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .page-image {
    top: 218px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .page-container4 {
    top: 789px;
    left: 207px;
  }
  .page-container5 {
    top: 978px;
    left: 63px;
    width: 865px;
    height: 403px;
    position: absolute;
    align-self: center;
  }
  .page-text2 {
    font-size: 24px;
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .page-text {
    left: 52px;
  }
  .page-container2 {
    height: 1629px;
  }
  .page-image {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .page-container4 {
    top: 819px;
    left: 96px;
    margin: 0px;
  }
  .page-container5 {
    top: 1016px;
    left: 45px;
    width: 677px;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .page-text {
    left: 42px;
  }
  .page-container2 {
    height: 1283px;
  }
  .page-text1 {
    top: 50px;
  }
  .page-image {
    top: 136px;
    left: 0px;
    right: 0px;
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .page-container4 {
    top: 509px;
    left: 39px;
    width: 400px;
  }
  .page-image1 {
    width: 100px;
    height: 100px;
  }
  .page-image2 {
    width: 100px;
    height: 100px;
  }
  .page-image3 {
    width: 100px;
    height: 100px;
  }
  .page-image4 {
    width: 100px;
    height: 100px;
  }
  .page-container5 {
    top: 677px;
    left: 0px;
    right: 0px;
    width: 429px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
}
