.vetrico-mosaic-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-100);
}
.vetrico-mosaic-navbar {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.vetrico-mosaic-phototext {
  width: 100%;
  height: 775px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.vetrico-mosaic-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  opacity: 0.2;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/mosaic/mop2-1500w.jpg");
}
.vetrico-mosaic-image {
  top: var(--dl-space-space-sixunits);
  left: 128px;
  width: 46%;
  height: 77%;
  padding: 0px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
}
.vetrico-mosaic-image:hover {
  box-shadow: 5px 5px 60px 25px #000000;
}
.vetrico-mosaic-container2 {
  top: var(--dl-space-space-sixunits);
  flex: 0 0 auto;
  right: 128px;
  width: 38%;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(0, 0, 0, 0.5);
}
.vetrico-mosaic-text {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 15%;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  font-size: 48px;
  text-align: center;
}
.vetrico-mosaic-text3 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: auto;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  font-size: 25px;
  align-self: flex-end;
}
.vetrico-mosaic-container3 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-100);
}
.vetrico-mosaic-image1 {
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.vetrico-mosaic-image2 {
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.vetrico-mosaic-image3 {
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.vetrico-mosaic-image4 {
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.vetrico-mosaic-footer {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 170px;
  margin: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.vetrico-mosaic-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #ffffff;
  border-style: outset;
  border-width: 4px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.vetrico-mosaic-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.vetrico-mosaic-text4 {
  color: rgb(255, 255, 255);
}
@media(max-width: 1600px) {
  .vetrico-mosaic-image {
    left: var(--dl-space-space-sixunits);
  }
  .vetrico-mosaic-container2 {
    right: var(--dl-space-space-sixunits);
  }
  .vetrico-mosaic-image1 {
    width: 530px;
    height: 530px;
  }
  .vetrico-mosaic-image2 {
    width: 530px;
    height: 530px;
  }
  .vetrico-mosaic-image3 {
    width: 530px;
    height: 530px;
  }
  .vetrico-mosaic-image4 {
    width: 530px;
    height: 530px;
  }
  .vetrico-mosaic-footer {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 1200px) {
  .vetrico-mosaic-image {
    left: var(--dl-space-space-fourunits);
  }
  .vetrico-mosaic-container2 {
    right: var(--dl-space-space-fourunits);
    width: 38%;
  }
  .vetrico-mosaic-text3 {
    height: auto;
  }
  .vetrico-mosaic-image1 {
    width: 500px;
    height: 500px;
  }
  .vetrico-mosaic-image2 {
    width: 500px;
    height: 500px;
  }
  .vetrico-mosaic-image3 {
    width: 500px;
    height: 500px;
  }
  .vetrico-mosaic-image4 {
    width: 500px;
    height: 500px;
  }
  .vetrico-mosaic-footer {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .vetrico-mosaic-phototext {
    gap: var(--dl-space-space-fourunits);
    height: 1167px;
    flex-direction: column;
  }
  .vetrico-mosaic-image {
    top: var(--dl-space-space-sixunits);
    left: 0px;
    right: 0px;
    width: 75%;
    height: 499px;
    margin: auto;
  }
  .vetrico-mosaic-container2 {
    gap: 0;
    top: 600px;
    left: 0px;
    right: 0px;
    width: 75%;
    bottom: var(--dl-space-space-sixunits);
    height: auto;
    margin: auto;
    position: absolute;
  }
  .vetrico-mosaic-image1 {
    width: 350px;
    height: 350px;
  }
  .vetrico-mosaic-image2 {
    width: 350px;
    height: 350px;
  }
  .vetrico-mosaic-image3 {
    width: 350px;
    height: 350px;
  }
  .vetrico-mosaic-image4 {
    width: 350px;
    height: 350px;
  }
  .vetrico-mosaic-footer {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 767px) {
  .vetrico-mosaic-container1 {
    height: 100%;
  }
  .vetrico-mosaic-image {
    left: var(--dl-space-space-oneandhalfunits);
    right: var(--dl-space-space-oneandhalfunits);
    width: 75%;
  }
  .vetrico-mosaic-container2 {
    left: 0px;
    right: 0px;
    width: 75%;
    margin: auto;
  }
  .vetrico-mosaic-text3 {
    font-size: 20px;
  }
  .vetrico-mosaic-image1 {
    width: 200px;
    height: 200px;
  }
  .vetrico-mosaic-image2 {
    width: 200px;
    height: 200px;
  }
  .vetrico-mosaic-image3 {
    width: 200px;
    height: 200px;
  }
  .vetrico-mosaic-image4 {
    width: 200px;
    height: 200px;
  }
  .vetrico-mosaic-footer {
    left: 0px;
    right: 0px;
    margin: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .vetrico-mosaic-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .vetrico-mosaic-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .vetrico-mosaic-text4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .vetrico-mosaic-phototext {
    height: 910px;
  }
  .vetrico-mosaic-image {
    width: 428px;
    height: 287px;
  }
  .vetrico-mosaic-container2 {
    top: 450px;
    width: 85%;
    height: auto;
  }
  .vetrico-mosaic-text {
    padding: 0px;
    font-size: 32px;
  }
  .vetrico-mosaic-text1 {
    font-size: 32px;
  }
  .vetrico-mosaic-text3 {
    font-size: 16px;
  }
  .vetrico-mosaic-container3 {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    justify-content: center;
  }
  .vetrico-mosaic-image1 {
    width: 150px;
    height: 150px;
  }
  .vetrico-mosaic-image2 {
    width: 150px;
    height: 150px;
  }
  .vetrico-mosaic-image3 {
    width: 150px;
    height: 150px;
  }
  .vetrico-mosaic-image4 {
    width: 150px;
    height: 150px;
  }
  .vetrico-mosaic-footer {
    left: 0px;
    right: 0px;
    height: auto;
    margin: auto;
    padding: var(--dl-space-space-unit);
  }
  .vetrico-mosaic-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .vetrico-mosaic-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .vetrico-mosaic-text4 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
